@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Manrope:wght@500;600;700&family=Playfair+Display:wght@600;700&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
}

header {
    position: static;
    width: 100%;
    height: auto;
    /* background-color: black;
    color: white; */
}

.navigation {
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.finsweet {
    margin-right: 15rem;
    width: 120px;
    height: 27px;
}

nav ul {
    display: flex;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

nav ul li {
    /* padding: 5px; */
    /* row-gap: 10rem; */
    margin-right: 1.5rem;
    margin-left: .5em;
    list-style: none;
}

.line {
    width: 42px;
    border: 1px solid #939191;
    transform: rotate(90deg);
    opacity: 26%;
}

.info-part {
    align-self: flex-end;
    display: flex;
    gap: 1em;   
}

.paragraphs {
    width: 181px;
    height: 56px;
    line-height: 1.7rem;
}

.paragraphs .number {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.paragraphs .number:hover {
    cursor: pointer;
    color: rgb(10, 176, 241);
}

.paragraphs > .first-child {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #939191;
}

/* Designing the hero page */

.hero-page {
    width: 80%;
    height: 70vh;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.intro-ad {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 60px;
    margin-right: auto
}

.intro-ad h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 55px;
}

.intro-ad > button {
    align-self: flex-start;
    padding: 10px;
    gap: 10px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: #FF6433;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: #939191;
}

.header-img {
    margin-right: -2.7rem;
    width: 605px;
    height: auto;
}

.office-hours {
    display: flex;
    align-items: center;
    gap: 1em; 
    line-height: 1.7rem;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}

.office-hours > .clock {
    width: 30.94px;
    height: 30.94px;
    color: #E2E6E9;
}

.office-hours p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.paragraphs-2 > .first-child {
    color: #939191;
    font-size: 16px;
    font-weight: 500;
}